services:
  backend:

    build: .

    container_name: backend

    ports:
      - "8000:8000"

    env_file:
      - .env

    environment:
      - DATABASE_URL=${DATABASE_URL}
      - SECRET_KEY=${SECRET_KEY}
      - ALGORITHM=${ALGORITHM}
      - ACCESS_TOKEN_EXPIRES_MINUTES=${ACCESS_TOKEN_EXPIRES_MINUTES}
      - REFRESH_TOKEN_EXPIRES_DAYS=${REFRESH_TOKEN_EXPIRES_DAYS}

    depends_on:
      - db
    restart:
      always

  db:

    image: postgres:16

    container_name: postgres_db

    ports:
      - "5432:5432"

    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

    volumes:
      - postgres_data:/var/lib/postgresql/data

    restart:
      always

volumes:
  postgres_data: